/* src/app/(site)/blog/[slug]/PostStyles.module.scss */

.articleContent {
  /* Ajuste: Em vez de um bloco :global {}, aplicamos o seletor :global 
     diretamente na classe que queremos manter inalterada (.prose)
  */

  :global(.prose) {
    color: #d4d4d8; // neutral-300

    p {
      line-height: 1.8;
      margin: 1.25em 0;
    }

    h2, h3, h4 {
      color: #f59e0b; // amber-500
      font-weight: 700;
      margin-top: 1.5em;
      margin-bottom: 0.75em;
    }

    a {
      color: #fbbf24; // amber-400
      font-weight: 600;
      text-decoration: none;
      transition: color 0.2s ease-in-out;
      
      &:hover {
        color: #fcd34d; // amber-300
        text-decoration: underline;
      }
    }
    
    img {
      width: 100%;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 0.75rem;
      border: 1px solid #262626; // neutral-800
    }

    ul, ol {
      margin: 1.25em 0;
      padding-left: 1.5em;
    }

    ul.checklist {
        list-style-type: none;
        padding-left: 0;
    }

    table {
      width: 100%;
      margin-top: 2em;
      margin-bottom: 2em;
      border-collapse: collapse;
    }

    thead {
      background-color: #262626;
      border-bottom: 2px solid #404040;
    }

    th {
      color: #ffffff;
      padding: 0.75rem;
      text-align: left;
    }

    td {
        padding: 0.75rem;
    }

    tr {
        border-bottom: 1px solid #262626;
    }

    tbody tr:last-child {
        border-bottom: none;
    }
  }
}